<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div id="profile">
        <img
          src="{{imgUrl}}"
          alt="image not loading"
          width="400"
          height="400"
        />
      </div>

      <h4>{{name}}</h4>
      {{!-- <p>{{this.email}}</p> --}}
      {{!-- <a href="/products/{{this.id}}">details</a> --}}

    </div>
  </body>
</html>