<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">

    <title>Fill the form</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="menu">
                <li class="item"> <a class="link" href="/">Home</a> </li>
                <li class="item"><a class="link" href="/form">Add profile</a></li>
            </ul>
        </nav>
        
    </header>
    <div id="midpart">
        <h1 id="mainHeader"> All Items</h1>
        
    </div>

</body>

</html>